<div class="contain">
  <h1>Journeys</h1>
  <form #f="ngForm" (ngSubmit)="search(f)">
    <label for="search"></label>
    <input
      type="text"
      placeholder="Search by title..."
      name="searchTerm"
      ngModel
    />

    <button>Search</button>
  </form>
  <div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner ></app-loading-spinner>
  </div>
 
  <div class="container">
  <article class="site-article" *ngIf="!isLoading">
    <div class="not-found-blog" *ngIf="notFindingTitle">
      <p>We could not found your blog!</p>
    </div>
    <div class="blog-card" *ngFor="let journey of filteredJourneys" >
      <div class="card-img">
        <img [src]="journey.img" />
      </div>
      <h1>{{ journey.title }}</h1>
      <div class="card-details">
        <span class="date"
          ><i class="fa fa-calendar">{{ journey.date }}</i></span
        ><span class="likes"
          ><i class="fa fa-user">{{ journey.author }}</i></span
        >
      </div>
      <div class="card-text">
        <p>{{ journey.desc | slice : 0 : 96 }}</p>
      </div>

      <div class="read-more">
        <a routerLink="/blogs/{{ journey.id }}">Read More...</a>
      </div>
    </div>
  </article>
</div>
</div>
