<div class="container">
  <section class="review-container">
    <div class="title-section">
      <h2>happy reviews from our users</h2>
      <div class="underline"></div>
    </div>
    <article class="custom-review">
      <div class="review-img-container">
        <img
          src="https://images.unsplash.com/photo-1568044852337-9bcc3378fc3c?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYyODA4Nzc4OA&ixlib=rb-1.2.1&q=85"
          id="person-img"
          alt=""
        />
      </div>
      <h4 id="review-author">John Doe</h4>
      <p id="review-job">User</p>
      <p id="review-info">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
        asperiores debitis incidunt, eius earum ipsam cupiditate libero? Iste,
        doloremque nihil?
      </p>

      <button class="random-review-btn">surprise me</button>
    </article>
  </section>
</div>
