.site-header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    background-color:  #E14747;
    
}
nav ul{
    display: flex;
    
}

nav ul li{
    list-style: none;
    padding: 1em;
}

nav ul li a {
    font-size: 22px;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;

}

nav ul li a:hover{
    color: black;
}

.site-title h1 a{
    font-size: 20x;
   text-decoration: none;
   color: #fff;
   
}
