<header class="site-header">
  <div class="site-title">
    <h1><a routerLink="/home">Travellmore</a></h1>
  </div>

  <nav>
    <ul>
      <li><a routerLink="/home" >Home</a></li>
      <li><a routerLink="/blogs" >Blogs</a></li>
      <li *ngIf="isAuthenticated"><a routerLink="/add-journey" >Add your experience</a></li>
      <li><a routerLink="/reviews">Reviews</a></li>
      <li *ngIf="!isAuthenticated" >
        <a routerLink="/login">Signup</a>
      </li>
      <li style="cursor: pointer;" *ngIf="isAuthenticated">
        <a  (click)="loggingOut()">Logout</a>
      </li>
      <div class="user-profile" *ngIf="isAuthenticated">
        <li><a routerLink="/profile/{{id}}"><i class="fa fa-user"></i></a></li>
      </div>
      
    </ul>
    
  </nav>
</header>
