.error-message{
    border-radius: 15px;
    text-align: center;
    width: 400px;
    height: 100%;
    background-color: #FBDEDE;
    color: #fff
}

.fa.fa-exclamation-circle{
    padding-top: 1em;
    color: #EE5858;
    width: 100%;
}
h4{
    color: #000;
}

p{
    color: #000;
    padding-bottom: 1em;
}