.profile-details,.profile-img,.username,.comment-msg{
    border: none;
}
h1{
    text-align: center;
    margin-top: 2em;
}

.comment{
    margin-top: 2em;
    border: 1px solid rgb(228, 123, 123);
    border-radius: 10px;
    padding: 1em 1em;
    margin-bottom: 2em;
}
.profile-details{
   display: flex;
   align-items: center;
}

.profile-img img{
    width: 70px;
}

form{
    
    display: flex;
    flex-direction: column;
    width: 500px;
    
    padding-left: 2em;
    
}
form h2{
    padding-bottom: 1em;
}
button{
    width: 400px;
    margin-top: 4em;
    margin-bottom: 2em;
    text-align: center;
    border: 1px solid black;
    color: white;
    background-color:rgb(228, 123, 123) ;
    border-radius: 15px;
    transition: 0.3s;
    
}
button:hover{
    color: black;
    background-color: white;
    
}

.comment-form {
    border: 1px solid rgb(228, 123, 123);
    border-radius: 15px;
    margin-bottom: 2em;
}