
<div *ngIf="isLoading" style="text-align: center; margin-top: 2em;">
   <app-loading-spinner></app-loading-spinner>
</div>

<form #f="ngForm" (ngSubmit)="signUp(f)" *ngIf="!isLoading">
  <div class="container">
    <div class="register-img">
      <img src="/../../../assets/images/register2.jpg" alt="" />
    </div>
    <div class="inputs">
      <h1>Register</h1>
      <div class="alert alert-danger"></div>
      <div *ngIf="error">
        <app-toaster (error)="error"></app-toaster>
      </div>
      

      <input type="text" placeholder="Enter Email..." name="email" required ngModel/>

      <input
        type="password"
        placeholder="Enter Password..."
        name="password"
        required

        ngModel
      />

      <button type="submit">Register</button>
      <p>
        Already have an accout? <a routerLink="/login"><span>Login!</span></a>
      </p>
    </div>
  </div>
</form>
