

<form #f="ngForm" (ngSubmit)="signUp(f)" >
  <div class="container">
    <div class="register-img">
      <img src="/../../../assets/images/register2.jpg" alt="" />
    </div>
    <div class="inputs">
      <h1>Register</h1>
      <div class="alert alert-danger" *ngIf="errorFound">
        <p>{{errorFound}}</p>
      </div>
      
      <input type="text" placeholder="Enter Email..." name="email" required ngModel pattern="[A-Za-z0-9]+@abv\.bg|[A-Za-z0-9]+@gmail\.com" #inputEmail="ngModel" />
      <ng-container *ngIf="inputEmail.touched">
        <p class="error" style="color: red; text-align: left;"  *ngIf="inputEmail.errors?.['required']">
        Email is required!</p>
        <ng-container *ngIf="inputEmail.touched">
          <p class="error" style="color: red; text-align: left;"  *ngIf="inputEmail.errors?.['pattern']">
          Email is not valid!</p>
        </ng-container>
      </ng-container>
      <input
      type="text"
      placeholder="Enter username..."
      name="username"
      required

      ngModel
      #inputUsername="ngModel"
    />
    <ng-container *ngIf="inputUsername.touched">
      <p class="error" style="color: red;" *ngIf="inputUsername.errors?.['required']">
      Username is required!</p>
    </ng-container>

      <input
        type="password"
        placeholder="Enter Password..."
        name="password"
        required

        ngModel
        #inputPassword="ngModel"
      />
      <ng-container *ngIf="inputPassword.touched">
        <p class="error" style="color: red; text-align: left;"  *ngIf="inputPassword.errors?.['required']">
        Password is required!</p>
      </ng-container>

      <input
        type="text"
        placeholder="Enter country..."
        name="country"
        required

        ngModel
        #inputCountry="ngModel"
      />
      <ng-container *ngIf="inputCountry.touched">
        <p class="error" style="color: red; text-align: left;"  *ngIf="inputCountry.errors?.['required']">
        Country is required!</p>
      </ng-container>
      
      <input
      type="text"
      placeholder="Enter number..."
      name="tel"
      required

      ngModel
      #inputNumber="ngModel"
    />
    <ng-container *ngIf="inputNumber.touched">
      <p class="error" style="color: red; text-align: left;"  *ngIf="inputNumber.errors?.['required']">
      Number is required!</p>
    </ng-container>

      <button>Register</button>
      <p>
        Already have an accout? <a routerLink="/login"><span>Login!</span></a>
      </p>
    </div>
  </div>
</form>
