<form>
  <div class="container">
    <div class="register-img">
      <img
        src="/../../../assets/images/register2.jpg"
        alt=""
      />
    </div>
    <div class="inputs">
      <h1>Register</h1>

      <input
        type="text"
        placeholder="Enter Username..."
        name="username"
        required
      />
      <input
        type="text"
        placeholder="Enter Full Name..."
        name="fullname"
        required
      />

      <input
        type="text"
        placeholder="Enter Email..."
        name="email"
        required
      />

      <input
        type="password"
        placeholder="Enter Password..."
        name="password"
        required
      />

      <input
        type="re-password"
        placeholder="Enter Re-password..."
        name="re-password"
        required
      />
      <button type="submit">Register</button>
      <p>
        Already have an accout? <a routerLink="/login"><span>Login!</span></a>
      </p>
    </div>
  </div>
</form>
