<div class="container">
  <div class="full-form">
    <div class="form">
      <h1>Add your trip</h1>

      <form #postForm="ngForm" class="add-form" (ngSubmit)="createPost(postForm.value)">
        <label for="title">Title</label>
        <input type="text" placeholder="Add title" name="title" ngModel />
        <label for="description">Description</label>
        <textarea
          name="desc"
          id="desc"
          cols="60"
          rows="3"
          placeholder="Add description here..."
          ngModel
        ></textarea>
        <label for="author">Author</label>
        <input type="text" placeholder="Author" name="author" ngModel />
        <label for="date">Date</label>
        <input type="date" placeholder="DD/MM/YY" name="date" ngModel/>
        <label for="image">Add picture</label>
        <input type="text" placeholder="Add image URL" name="img" ngModel />
        <label for="content">Add content</label>
        <textarea
          name="content"
          id="content"
          cols="60"
          rows="4"
          placeholder="Add content here..."
          ngModel
        ></textarea>
        <button>Add to our collection</button>
      </form>
    </div>
    <img src="/../../../assets/images/palms.jpeg" alt="" />
  </div>
</div>
