<div class="container">
    <div *ngIf="isLoading" style="text-align: center; margin-top: 2em;">
        <app-loading-spinner ></app-loading-spinner>
      </div>
  <div class="card" *ngIf="!isLoading">
    <h1>User Details</h1>
    <div class="profile-picture">
      <img src="/../../../assets/images/profile-picture.png" alt="" />
    </div>
    <div class="username">
      <p><span>Username:</span> {{ user?.username }}</p>
    </div>
    <div class="email">
      <p><span>Email:</span> {{ user?.email }}</p>
    </div>
    <div class="tel">
      <p><span>Phone number:</span> {{ user?.tel }}</p>
    </div>
    <div class="country">
      <p><span>Country:</span> {{ user?.country }}</p>
    </div>
    <div class="count">
      <p><span>Blogs created:</span> {{ countOfJourneys }} blogs.</p>
    </div>

    <a routerLink="/profile/{{ id }}/edit">Edit</a>
  </div>
</div>
