.site-footer {
  display: flex;
  background-color: black;
  flex-direction: row;
  color: #fff;

  bottom: 0;
  width: 100%;
  padding-left: 31em;
}
@media (max-width: 800px) {
  .site-footer {
    flex-direction: column;
    padding: 1em;
    align-items: center;

    
  }
}
