<div class="container">
  <h1 class="primary-header">Read About Our Journeys</h1>
  <article class="site-article">
    <div class="blog-card" *ngFor="let journey of journeys">
      <div class="card-img">
        <img [src]="journey.img" />

        <h1>{{ journey.title }}</h1>
      </div>
      <div class="card-details">
        <span class="date"
          ><i class="fa fa-calendar"></i>{{ journey.date }}</span
        ><span class="author"
          ><i class="fa fa-user"></i>{{ journey.author }}</span
        >
      </div>
      <div class="card-text">
        <p>{{ journey.desc | slice : 0:70 }}.</p>
      </div>
      <div class="read-more"><a href="">Read More...</a></div>
    </div>
  </article>
</div>
