<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
  <div class="container">
    <h1>Login</h1>
    <input
      type="text"
      placeholder="Enter Username..."
      name="username"
      required
      ngModel
    />

    <input
      type="password"
      placeholder="Enter Password..."
      name="password"
      required
      ngModel
    />
    <button type="submit">Login</button>
    <p>
      Not our Client yet?
      <a routerLink="/register"><span>Sign up Now!</span></a>
    </p>
  </div>
</form>
