<form #loginForm="ngForm" (ngSubmit)="login(loginForm)" *ngIf="!isLoading">
  <div class="container">
    <h1>Login</h1>
    <div class="alert alert-danger" *ngIf="errorFound">
      <p>{{ errorFound }}</p>
    </div>
    <input
      type="text"
      placeholder="Enter email..."
      name="email"
      required
      ngModel
    />

    <input
      type="password"
      placeholder="Enter Password..."
      name="password"
      required
      ngModel
    />
    <button type="submit">Login</button>
    <p>
      Not our Client yet?
      <a routerLink="/register"><span>Sign up Now!</span></a>
    </p>
  </div>
</form>
